@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,700&display=swap');
@font-face {
  font-family: 'Raygun';
  src: url('/src/fonts/raygun.otf');
}
@font-face {
  font-family: 'Ki';
  src: url('/src/fonts/ki.otf');
}

* {
  box-sizing: border-box;
  cursor: none;
}

.image-library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  background: 0;
}

.image-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10px;
  position: relative;
  width: 100%;
  margin-bottom: 3vw;
}

.image-gallery {
  width: 50%;
  background: 0;
  position: absolute;
  textalign: center;
  top: 0;
  left: 50%;
  fontsize: 2vw;
  transform: translate(-50%, 0);
}

.link-button::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;

  transition: width 0.5s ease-in-out;
}

.link-button:hover::before {
  width: 100%;
}

/* separate styling for phones */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .image-gallery {
    width: 100%;
  }
}

.image-gallery-devclub {
  background: 0;
}
